<?xml version="1.0" encoding="utf-8" ?>
<config>
    <modules>
        <Jowens_JobQueue>
            <version>0.5.0</version>
        </Jowens_JobQueue>
    </modules>	
    <global>
    	<models>
            <jobqueue>
                <class>Jowens_JobQueue_Model</class>
                <resourceModel>jobqueue_resource</resourceModel>
            </jobqueue>
            <jobqueue_resource>
                <class>Jowens_JobQueue_Model_Resource</class>
                <entities>
                    <job>
                        <table>jobs</table>
                    </job>
                </entities>
            </jobqueue_resource>
    	</models>
        <blocks>
            <jobqueue>            
                <class>Jowens_JobQueue_Block</class>
            </jobqueue>
        </blocks>        
    	<helpers>
	    <jobqueue>
	        <class>Jowens_JobQueue_Helper</class>
	    </jobqueue>    		
    	</helpers>
        <resources>
            <jobqueue_setup>
                <setup>
                    <module>Jowens_JobQueue</module>
                    <class>Jowens_JobQueue_Model_Resource_Setup</class>
                </setup>
            </jobqueue_setup>
        </resources>    	
    </global>
    <frontend>
        <routers>
            <jowens_jobqueue>
                <use>standard</use>
                <args>
                    <module>Jowens_JobQueue</module>
                    <frontName>jobqueue</frontName>
                </args>
            </jowens_jobqueue>
        </routers>  
    </frontend>  
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Jowens_JobQueue before="Mage_Adminhtml">Jowens_JobQueue_Adminhtml</Jowens_JobQueue>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>  
    <adminhtml>
        <layout>
            <updates>
                <jowens_jobqueue>
                    <file>jowens/jobqueue.xml</file>
                </jowens_jobqueue>
            </updates>
        </layout>
    </adminhtml>      
    <crontab>
        <jobs>
            <jobqueue_default>
                <schedule>
                    <config_path>jobqueue/config/cron_expr</config_path>
               	</schedule>
                <run>
                    <model>jobqueue/worker::executeJobs</model>
                </run>
            </jobqueue_default>
        </jobs>
    </crontab>
    <default>
        <jobqueue>
            <config> 
                <enabled>1</enabled>               
                <cron_expr>*/5 * * * *</cron_expr>
                <max_attempts>10</max_attempts>
                <queue>default</queue>
            </config>
        </jobqueue>
    </default>    
</config>
